.perspective1000 {
  perspective: 1000px;
}

.flipCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard.flipped {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardBack {
  transform: rotateY(180deg);
}

.scrollbarHide::-webkit-scrollbar {
  display: none;
}

.carouselCard {
  width: 900px;
  height: 700px;
}

@media (max-width: 850px) {
  .carouselCard {
    width: calc(100vw - 4rem) !important;
    height: 600px !important;
  }
  
  .flipCardBack .absoluteLeft0 {
    width: 240px !important;
  }
  
  .flipCardBack .pl280 {
    padding-left: 200px !important;
  }
}

@media (max-width: 768px) {
  .flipCardBack .absoluteLeft0 {
    width: 200px !important;
  }
  
  .flipCardBack .pl250 {
    padding-left: 180px !important;
  }
  
  .flipCardBack .pl380 {
    padding-left: 180px !important;
  }
  
  .perspective1000 {
    height: 600px !important;
  }
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animationDelay200 {
  animation-delay: 200ms;
}

.animationDelay400 {
  animation-delay: 400ms;
}